* {
    margin: 0;
    scroll-behavior: smooth;
}

.nav-item:has(> input) {
    align-items: center;
}

.navbar-collapse {
    justify-content: space-between;
}

.icons-container {
    gap: 1rem;
}

.icon-container {
    width: 30px;
    /* Adjust the size of the circle */
    height: 30px;
    /* Adjust the size of the circle */
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content>.img-fluid {
    max-width: 60%;
}

.row {
    justify-content: space-between;
}

.btn-container {
    display: flex;
    gap: 0.5rem;
}

.info-banner-subcontainer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.info-header {
    font-weight: bold;
}

.info-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info-icon {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.cards-container {
    background-color: #f1f1f1;
}

.divider {
    width: 100%;
    border-top: 1px solid #000;
}

.lecturer-info {
    justify-content: space-between;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 22%;
    }
}

.card-container {
    justify-content: space-between;
}

.custom-aspect-ratio {
    aspect-ratio: 1.3; /* Set a 1:1 aspect ratio; adjust as needed */
    object-fit: cover;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.card-space {
    flex: 0 0 auto;
    width: 100%; /* Take full width on smaller screens */
    max-width: 22%;
}

.footer-link {
    text-decoration: none;
}

.card {
    transition: transform 500ms ease-in-out, box-shadow 500ms ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1200px) {
    .img-content>.img-fluid {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .icons-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
        padding: 0;
    }

    .info-banner-subcontainer {
        text-align: center;
        align-items: center;
        gap: 1rem;
    }

    .info-banner {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .info-text {
        text-align: left;
    }

    .btn-container {
        flex-direction: column;
    }

    .text-content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .info-banner-subcontainer {
        flex-direction: column;
    }

    .info-banner {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (max-width: 576px) {
    .info-banner {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Media query for larger screens (desktop) */
@media (min-width: 992px) {
    .card-container .card {
        flex: 0 0 22%; /* Set width to 22% */
    }
}