* {
    margin: 0;
    scroll-behavior: smooth;
}

.nav-item:has(> input) {
    align-items: center;
}

.navbar-collapse {
    justify-content: space-between;
}

.icons-container {
    gap: 1rem;
}

.icon-container {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container:has(img) {
    border: none;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
}

.img-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-content>.img-fluid {
    max-width: 60%;
}

.row {
    justify-content: space-between;
}

.btn-container {
    display: flex;
    gap: 0.5rem;
}

.info-banner-subcontainer {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.info-header {
    font-weight: bold;
}

.info-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.info-icon {
    width: 50px;
    /* Adjust as needed */
    height: 50px;
    /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.cards-container {
    background-color: #f1f1f1;
}

.divider {
    width: 100%;
    border-top: 1px solid #000;
}

.lecturer-info {
    justify-content: space-between;
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 22%;
    }
}

.card-container {
    justify-content: space-between;
}

.custom-aspect-ratio {
    aspect-ratio: 1.3;
    /* Set a 1:1 aspect ratio; adjust as needed */
    object-fit: cover;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.card-space {
    flex: 0 0 auto;
    width: 100%;
    /* Take full width on smaller screens */
    max-width: 22%;
}

.footer-link {
    text-decoration: none;
}

.avatar {
    object-fit: cover;
    object-position: center;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid lightgreen;
    cursor: pointer;
}

.offline {
    border: 2px solid gray;
}

.text-bold {
    font-weight: bold;
}

.mt-noti {
    margin-top: 2.5rem !important;
}

.notifications-container {
    display: none;
    position: absolute;
    right: 0;
    width: 25%;
    min-width: 400px;
    background: rgb(236, 236, 236);
    border-radius: 5px;
    z-index: 1000;
    flex-direction: column;
}

.read {
    font-style: italic;
    font-size: 0.8rem;
}

.header {
    justify-content: space-between;
}

.msg-status {
    font-style: italic;
    font-size: .8rem;
}

.notifications {
    cursor: pointer;
}

.message-box {
    opacity: 0.5;
}

.bookmark-icon {
    color: black;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.card-body {
    flex-direction: column;
    justify-content: space-between;
}

.offcanvas-bottom {
    height: 65vh;
}

.offcanvas-body {
    gap: 1rem;
}

.offcanvas {
    background-color: #c9c9c9;
}

.course-header {
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .img-content>.img-fluid {
        max-width: 80%;
    }
}

@media (max-width: 991px) {
    .header-course {
        text-align: center;
    }

    .message-box {
        opacity: 1;
    }

    .mt-noti {
        margin-top: 2.5rem !important;
    }

    .notifications-container {
        right: auto;
        left: 0;
        width: 100%;
        min-width: 320px;
    }

    .icons-container {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        margin-top: 1rem;
        align-items: center;
        padding: 0;
    }

    .info-banner-subcontainer {
        text-align: center;
        align-items: center;
        gap: 1rem;
    }

    .info-banner {
        gap: 0;
        width: 100%;
        justify-content: space-between;
    }

    .info-text {
        text-align: left;
    }

    .btn-container {
        flex-direction: column;
    }

    .text-content {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .info-banner-subcontainer {
        flex-direction: column;
    }

    .info-banner {
        padding-left: 25%;
        padding-right: 25%;
    }
}

@media (max-width: 576px) {
    .info-banner {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Media query for larger screens (desktop) */
@media (min-width: 992px) {
    .card-container .card {
        flex: 0 0 22%;
        /* Set width to 22% */
    }
}